/* general */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #e2e2e2;
    background-image: radial-gradient(circle, rgba(131, 154, 66, 0.1) 1px, transparent 1px),
                      radial-gradient(circle, rgba(131, 154, 66, 0.1) 1px, transparent 1px);
    background-size: 20px 20px; 
    background-position: 0 0, 10px 10px;
    color: #333;
  }
  
  h2 {
    color: #839A42;
    font-weight: 600;
  }
  
  p {
    font-size: 16px;
    line-height: 1.6;
  }
  
  /* nav */
  .navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  nav .nav-link {
    color: #ffff;
    transition: color 0.3s ease;
  }
  
  nav .nav-link:hover {
    color: #FAC172;
  }

  .logo{
    width: 100px;
    border-radius: 30%;
  }

   /* carrusel */

   .carousel-control-prev {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    left: 5%;
    color: #839A42;
  }
  
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    color: #839A42;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #839A42; 
    border-radius: 50%;
  }

  
  /* cards */
  .card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

  .card img {
    height: 650px;
    object-fit: cover;
  }
  
  .card-title {
    font-weight: 600;
  }
  
  .card-text {
    font-size: 14px;
  }
  
  .btn-primary {
    background-color: #839A42;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #6e8235;
    transform: scale(1.05);
  }
  
  /* footer */
  footer {
    font-size: 14px;
  }
  
  footer p {
    margin-bottom: 10px;
  }