/* general */
  body {
    font-family: 'Poppins', sans-serif;
    background-image: url('img/pexels-fwstudio-33348-172276.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #333;
  }

  h2 {
    color: white;
    font-weight: 600;
  }
  
  p {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .productos{
    margin-top: 50px;
  }
  /* nav */
  .navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 60px;
    justify-content: center;
  }

  nav .nav-link {
    color: #ffff;
    transition: color 0.3s ease;
  }
  
  nav .nav-link:hover {
    color: #FAC172;
  }

  .logo{
    width: 60px;
    border-radius: 30%;
  }

   /* carrusel */
  
  .SubCarr{
    text-align:center;
    padding: 20px 0px 10px 0px;
    margin: 20px auto;
    width: 40%;
  }

.carousel-img {
  max-height:500px;
  width: auto;
  object-fit: contain;
}
  .carousel-control-prev {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    left: 5%;
    color: #839A42;
  }
  
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    color: #839A42;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #839A42; 
    border-radius: 50%;
  }
  
  /* cards */
  .card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

  .card img {
    max-height: 300px;
    object-fit: cover;
  }
  
  .card-title {
    font-weight: 600;
  }
  
  .card-text {
    font-size: 14px;
  }
  
  .btn-primary {
    background-color: #C7573B;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #6e8235;
    transform: scale(1.05);
  }
  
  /* footer */
  footer {
    font-size: 14px;
  }
  
  footer p {
    margin-bottom: 10px;
  }
  #BMapa{
    max-width: 65%;
  }
@media screen and (max-width: 768px){

  #BMapa{
    margin: auto;
    margin-bottom: 15px;
  }
  #BotNav{
    margin-top: -10px;
  }
  .logo{
    width: 55px;
    border-radius: 30%;
    margin-top: -10px;
  }
}
